-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "public"."AITrainingData" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "answer" TEXT NOT NULL,
    "retrievalContext" JSONB,
    "rating" INTEGER,
    "isHelpful" BOOLEAN,
    "feedback" TEXT,
    "model" TEXT NOT NULL DEFAULT 'claude-3.5-sonnet',
    "usageCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AITrainingData_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Answer" (
    "id" TEXT NOT NULL,
    "questionId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "upvotes" INTEGER NOT NULL DEFAULT 0,
    "downvotes" INTEGER NOT NULL DEFAULT 0,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "verifiedById" TEXT,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Answer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ArticleSection" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "sectionNumber" INTEGER NOT NULL,
    "heading" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "embedding" DOUBLE PRECISION[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ArticleSection_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Badge" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "icon" TEXT,
    "xpReward" INTEGER NOT NULL DEFAULT 0,
    "rarity" TEXT NOT NULL DEFAULT 'common',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Badge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."BookmarkedCourse" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "moduleTitle" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BookmarkedCourse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Documents" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "mimeType" TEXT NOT NULL,
    "storageUrl" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "processedAt" TIMESTAMP(3),
    "extractedContent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Documents_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Enrollment" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "moduleTitle" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'in_progress',
    "progressPercent" INTEGER NOT NULL DEFAULT 0,
    "currentLessonIndex" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "lastAccessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "xpEarned" INTEGER NOT NULL DEFAULT 0,
    "badgeEarned" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Enrollment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Flag" (
    "id" TEXT NOT NULL,
    "reporterId" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "reviewedById" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Flag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Insight" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "tags" TEXT[],
    "publishedAt" TIMESTAMP(3),
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "downloads" JSONB,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "image" TEXT,

    CONSTRAINT "Insight_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."KnowledgeBaseArticle" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "tags" TEXT[],
    "embedding" DOUBLE PRECISION[],
    "source" TEXT,
    "sourceUrl" TEXT,
    "author" TEXT,
    "version" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "helpfulCount" INTEGER NOT NULL DEFAULT 0,
    "unhelpfulCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "publishedAt" TIMESTAMP(3),

    CONSTRAINT "KnowledgeBaseArticle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LearningPath" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "persona" TEXT,
    "difficulty" TEXT NOT NULL DEFAULT 'beginner',
    "estimatedHours" INTEGER NOT NULL DEFAULT 0,
    "moduleIds" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "imageUrl" TEXT,
    "enrolledCount" INTEGER NOT NULL DEFAULT 0,
    "completedCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LearningPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LessonContent" (
    "id" TEXT NOT NULL,
    "moduleId" TEXT NOT NULL,
    "lessonIndex" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "summary" TEXT,
    "contentType" TEXT NOT NULL DEFAULT 'markdown',
    "videoUrl" TEXT,
    "videoDuration" INTEGER,
    "hasQuiz" BOOLEAN NOT NULL DEFAULT false,
    "quizData" JSONB,
    "resources" JSONB,
    "estimatedMinutes" INTEGER NOT NULL DEFAULT 5,
    "difficulty" TEXT NOT NULL DEFAULT 'beginner',
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LessonContent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LessonProgress" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "enrollmentId" TEXT,
    "moduleId" TEXT NOT NULL,
    "lessonIndex" INTEGER NOT NULL,
    "lessonTitle" TEXT NOT NULL,
    "isCompleted" BOOLEAN NOT NULL DEFAULT false,
    "completedAt" TIMESTAMP(3),
    "timeSpent" INTEGER NOT NULL DEFAULT 0,
    "firstAccessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastAccessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "quizScore" INTEGER,
    "quizAttempts" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LessonProgress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."News" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "externalUrl" TEXT,
    "publishedAt" TIMESTAMP(3),
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "image" TEXT,

    CONSTRAINT "News_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "actionUrl" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Question" (
    "id" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "tags" TEXT[],
    "urgency" TEXT NOT NULL DEFAULT 'normal',
    "views" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'unanswered',
    "acceptedAnswerId" TEXT,
    "isHidden" BOOLEAN NOT NULL DEFAULT false,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Question_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RelatedArticle" (
    "id" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "relatedId" TEXT NOT NULL,
    "relevanceScore" DOUBLE PRECISION NOT NULL DEFAULT 0.5,

    CONSTRAINT "RelatedArticle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SavedArticle" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "articleId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SavedArticle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "avatarUrl" TEXT,
    "bio" TEXT,
    "isVerified" BOOLEAN NOT NULL DEFAULT false,
    "lastActive" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "level" INTEGER NOT NULL DEFAULT 1,
    "reputationScore" INTEGER NOT NULL DEFAULT 0,
    "role" TEXT NOT NULL DEFAULT 'user',
    "username" TEXT,
    "xp" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserBadge" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "badgeId" TEXT NOT NULL,
    "earnedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserLearningPath" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "learningPathId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'in_progress',
    "currentModuleIndex" INTEGER NOT NULL DEFAULT 0,
    "progressPercent" INTEGER NOT NULL DEFAULT 0,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "lastAccessedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "totalXpEarned" INTEGER NOT NULL DEFAULT 0,
    "badgesEarned" TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "UserLearningPath_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VectorSearchCache" (
    "id" TEXT NOT NULL,
    "query" TEXT NOT NULL,
    "embedding" DOUBLE PRECISION[],
    "results" TEXT NOT NULL,
    "ttl" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VectorSearchCache_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Vote" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "targetType" TEXT NOT NULL,
    "targetId" TEXT NOT NULL,
    "voteType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Vote_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "AITrainingData_articleId_idx" ON "public"."AITrainingData"("articleId" ASC);

-- CreateIndex
CREATE INDEX "AITrainingData_model_idx" ON "public"."AITrainingData"("model" ASC);

-- CreateIndex
CREATE INDEX "AITrainingData_rating_idx" ON "public"."AITrainingData"("rating" ASC);

-- CreateIndex
CREATE INDEX "Answer_authorId_idx" ON "public"."Answer"("authorId" ASC);

-- CreateIndex
CREATE INDEX "Answer_createdAt_idx" ON "public"."Answer"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Answer_isHidden_idx" ON "public"."Answer"("isHidden" ASC);

-- CreateIndex
CREATE INDEX "Answer_questionId_idx" ON "public"."Answer"("questionId" ASC);

-- CreateIndex
CREATE INDEX "ArticleSection_articleId_idx" ON "public"."ArticleSection"("articleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Badge_name_key" ON "public"."Badge"("name" ASC);

-- CreateIndex
CREATE INDEX "Badge_rarity_idx" ON "public"."Badge"("rarity" ASC);

-- CreateIndex
CREATE INDEX "BookmarkedCourse_moduleId_idx" ON "public"."BookmarkedCourse"("moduleId" ASC);

-- CreateIndex
CREATE INDEX "BookmarkedCourse_userId_idx" ON "public"."BookmarkedCourse"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "BookmarkedCourse_userId_moduleId_key" ON "public"."BookmarkedCourse"("userId" ASC, "moduleId" ASC);

-- CreateIndex
CREATE INDEX "Documents_status_idx" ON "public"."Documents"("status" ASC);

-- CreateIndex
CREATE INDEX "Documents_userId_idx" ON "public"."Documents"("userId" ASC);

-- CreateIndex
CREATE INDEX "Enrollment_lastAccessedAt_idx" ON "public"."Enrollment"("lastAccessedAt" ASC);

-- CreateIndex
CREATE INDEX "Enrollment_moduleId_idx" ON "public"."Enrollment"("moduleId" ASC);

-- CreateIndex
CREATE INDEX "Enrollment_status_idx" ON "public"."Enrollment"("status" ASC);

-- CreateIndex
CREATE INDEX "Enrollment_userId_idx" ON "public"."Enrollment"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Enrollment_userId_moduleId_key" ON "public"."Enrollment"("userId" ASC, "moduleId" ASC);

-- CreateIndex
CREATE INDEX "Flag_reporterId_idx" ON "public"."Flag"("reporterId" ASC);

-- CreateIndex
CREATE INDEX "Flag_status_idx" ON "public"."Flag"("status" ASC);

-- CreateIndex
CREATE INDEX "Flag_targetType_targetId_idx" ON "public"."Flag"("targetType" ASC, "targetId" ASC);

-- CreateIndex
CREATE INDEX "Insight_category_idx" ON "public"."Insight"("category" ASC);

-- CreateIndex
CREATE INDEX "Insight_isFeatured_idx" ON "public"."Insight"("isFeatured" ASC);

-- CreateIndex
CREATE INDEX "Insight_isPublished_idx" ON "public"."Insight"("isPublished" ASC);

-- CreateIndex
CREATE INDEX "Insight_slug_idx" ON "public"."Insight"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Insight_slug_key" ON "public"."Insight"("slug" ASC);

-- CreateIndex
CREATE INDEX "KnowledgeBaseArticle_category_idx" ON "public"."KnowledgeBaseArticle"("category" ASC);

-- CreateIndex
CREATE INDEX "KnowledgeBaseArticle_isActive_idx" ON "public"."KnowledgeBaseArticle"("isActive" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "KnowledgeBaseArticle_slug_key" ON "public"."KnowledgeBaseArticle"("slug" ASC);

-- CreateIndex
CREATE INDEX "LearningPath_difficulty_idx" ON "public"."LearningPath"("difficulty" ASC);

-- CreateIndex
CREATE INDEX "LearningPath_isActive_idx" ON "public"."LearningPath"("isActive" ASC);

-- CreateIndex
CREATE INDEX "LearningPath_isFeatured_idx" ON "public"."LearningPath"("isFeatured" ASC);

-- CreateIndex
CREATE INDEX "LearningPath_persona_idx" ON "public"."LearningPath"("persona" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LearningPath_slug_key" ON "public"."LearningPath"("slug" ASC);

-- CreateIndex
CREATE INDEX "LessonContent_lessonIndex_idx" ON "public"."LessonContent"("lessonIndex" ASC);

-- CreateIndex
CREATE INDEX "LessonContent_moduleId_idx" ON "public"."LessonContent"("moduleId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LessonContent_moduleId_lessonIndex_key" ON "public"."LessonContent"("moduleId" ASC, "lessonIndex" ASC);

-- CreateIndex
CREATE INDEX "LessonProgress_enrollmentId_idx" ON "public"."LessonProgress"("enrollmentId" ASC);

-- CreateIndex
CREATE INDEX "LessonProgress_isCompleted_idx" ON "public"."LessonProgress"("isCompleted" ASC);

-- CreateIndex
CREATE INDEX "LessonProgress_moduleId_idx" ON "public"."LessonProgress"("moduleId" ASC);

-- CreateIndex
CREATE INDEX "LessonProgress_userId_idx" ON "public"."LessonProgress"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LessonProgress_userId_moduleId_lessonIndex_key" ON "public"."LessonProgress"("userId" ASC, "moduleId" ASC, "lessonIndex" ASC);

-- CreateIndex
CREATE INDEX "News_isPublished_idx" ON "public"."News"("isPublished" ASC);

-- CreateIndex
CREATE INDEX "News_slug_idx" ON "public"."News"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "News_slug_key" ON "public"."News"("slug" ASC);

-- CreateIndex
CREATE INDEX "News_type_idx" ON "public"."News"("type" ASC);

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "public"."Notification"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Notification_userId_isRead_idx" ON "public"."Notification"("userId" ASC, "isRead" ASC);

-- CreateIndex
CREATE INDEX "Question_authorId_idx" ON "public"."Question"("authorId" ASC);

-- CreateIndex
CREATE INDEX "Question_category_idx" ON "public"."Question"("category" ASC);

-- CreateIndex
CREATE INDEX "Question_createdAt_idx" ON "public"."Question"("createdAt" ASC);

-- CreateIndex
CREATE INDEX "Question_isHidden_idx" ON "public"."Question"("isHidden" ASC);

-- CreateIndex
CREATE INDEX "Question_status_idx" ON "public"."Question"("status" ASC);

-- CreateIndex
CREATE INDEX "RelatedArticle_articleId_idx" ON "public"."RelatedArticle"("articleId" ASC);

-- CreateIndex
CREATE INDEX "RelatedArticle_relatedId_idx" ON "public"."RelatedArticle"("relatedId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "SavedArticle_userId_articleId_key" ON "public"."SavedArticle"("userId" ASC, "articleId" ASC);

-- CreateIndex
CREATE INDEX "SavedArticle_userId_idx" ON "public"."SavedArticle"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "public"."User"("username" ASC);

-- CreateIndex
CREATE INDEX "UserBadge_badgeId_idx" ON "public"."UserBadge"("badgeId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "UserBadge_userId_badgeId_key" ON "public"."UserBadge"("userId" ASC, "badgeId" ASC);

-- CreateIndex
CREATE INDEX "UserBadge_userId_idx" ON "public"."UserBadge"("userId" ASC);

-- CreateIndex
CREATE INDEX "UserLearningPath_learningPathId_idx" ON "public"."UserLearningPath"("learningPathId" ASC);

-- CreateIndex
CREATE INDEX "UserLearningPath_status_idx" ON "public"."UserLearningPath"("status" ASC);

-- CreateIndex
CREATE INDEX "UserLearningPath_userId_idx" ON "public"."UserLearningPath"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "UserLearningPath_userId_learningPathId_key" ON "public"."UserLearningPath"("userId" ASC, "learningPathId" ASC);

-- CreateIndex
CREATE INDEX "VectorSearchCache_ttl_idx" ON "public"."VectorSearchCache"("ttl" ASC);

-- CreateIndex
CREATE INDEX "Vote_targetType_targetId_idx" ON "public"."Vote"("targetType" ASC, "targetId" ASC);

-- CreateIndex
CREATE INDEX "Vote_userId_idx" ON "public"."Vote"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Vote_userId_targetType_targetId_key" ON "public"."Vote"("userId" ASC, "targetType" ASC, "targetId" ASC);

-- AddForeignKey
ALTER TABLE "public"."AITrainingData" ADD CONSTRAINT "AITrainingData_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "public"."KnowledgeBaseArticle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Answer" ADD CONSTRAINT "Answer_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Answer" ADD CONSTRAINT "Answer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "public"."Question"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ArticleSection" ADD CONSTRAINT "ArticleSection_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "public"."KnowledgeBaseArticle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."BookmarkedCourse" ADD CONSTRAINT "BookmarkedCourse_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Documents" ADD CONSTRAINT "Documents_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Enrollment" ADD CONSTRAINT "Enrollment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Flag" ADD CONSTRAINT "Flag_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LessonProgress" ADD CONSTRAINT "LessonProgress_enrollmentId_fkey" FOREIGN KEY ("enrollmentId") REFERENCES "public"."Enrollment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LessonProgress" ADD CONSTRAINT "LessonProgress_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Question" ADD CONSTRAINT "Question_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RelatedArticle" ADD CONSTRAINT "RelatedArticle_articleId_fkey" FOREIGN KEY ("articleId") REFERENCES "public"."KnowledgeBaseArticle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RelatedArticle" ADD CONSTRAINT "RelatedArticle_relatedId_fkey" FOREIGN KEY ("relatedId") REFERENCES "public"."KnowledgeBaseArticle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."SavedArticle" ADD CONSTRAINT "SavedArticle_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserBadge" ADD CONSTRAINT "UserBadge_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES "public"."Badge"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserBadge" ADD CONSTRAINT "UserBadge_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserLearningPath" ADD CONSTRAINT "UserLearningPath_learningPathId_fkey" FOREIGN KEY ("learningPathId") REFERENCES "public"."LearningPath"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserLearningPath" ADD CONSTRAINT "UserLearningPath_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Vote" ADD CONSTRAINT "Vote_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

